<div class="container">
	<div class="row my-5">
		<div class="col-md-3">
			<%= render 'customers/genres/index', genres: @genres %>
		</div>
		<div class="col-sm-9">
		  <h2><%= @genre.name %>一覧(全<%= @genre.items.count %>件)</h2>
			<div class="text-center">
			  <%= paginate @items %>
			</div>
			<div class="d-flex flex-wrap">
			  <% @genre_items.each do |item| %>
			    <div class="flex-item">
            <div class="card　border-0">
  		        <%=link_to item_path(item) do %>
      		      <div class="col-xs-3">
      				    <%=image_tag item.image, size: '150x150'%>
      				      <p class="card-title">
      				        <%= item.name %>
      				      </p>
      				      <p class="card-text">
      				        ¥<%= item.price %>
      				      </p>
      				  </div>
      				<% end %>
            </div>
  		    </div>
			  <% end %>
		  </div>
	  </div>
	</div>
</div>